@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.footer {
  background-color: #0000ff;
  position:fixed;
  bottom:0;
  left:150px;
  right:150px;
  height:50px;
}
