@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import 'vars.scss';

.header {
  background-color: $item_background_color;
  position:fixed;
  top:0;
  left:150px;
  right:150px;
  height:$header_height;
  color: $main_text_color;
  font-weight: bold;
  border-top: solid $item_delimiter_color 2px;
  border-bottom: solid $item_delimiter_color 2px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
