@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import 'vars.scss';

.header {
  background-color: $item_background_color;
  position:fixed;
  top:0;
  left:$large_border_margin;
  right:$large_border_margin;
  height:$header_height;
  color: $main_text_color;
  font-weight: bold;
  border-top: solid $item_delimiter_color 2px;
  border-bottom: solid $item_delimiter_color 2px;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: $width_limit_medium_small) {
  .header {
    height: $small_header_height;
    left: $small_border_margin;
    right: $small_border_margin;

    h1 {
      font-size: 20px;
      margin-top: 13px !important;
    }
  }
}
