$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "vars.scss";
@import "mixins.scss";

body {
  background-color: #000;
  background-image: url("../images/20dice.jpg");
  background-size: 100%;
  filter: opacity(0.95);
}

.main-container {
  background-color: $item_background_color;
  position: fixed;
  top: $header_height;
  left: $large_border_margin + $large_menu_width;
  right: $large_border_margin;
  bottom: 50px;
  margin: 10px 0px 10px 10px;
  border-left:solid $item_delimiter_color 2px;
  border-right:solid $item_delimiter_color 2px;
  overflow-y:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-container {
  display: inline-flex;
}

@media(max-width: $width_limit_wide_medium) {
  .main-container {
    left: $large_border_margin + $small_menu_width;
    right:$large_border_margin;
  }
}

@media(max-width: $width_limit_medium_small) {
  // redo the displaying of games in case of small screen
  .main-container {
    left: $small_border_margin + $extra_small_menu_width;
    right: $small_border_margin;
    top: $small_header_height;
    bottom: $small_border_margin;
    margin-left: -2px !important;
    z-index: -100;
  }
}
