@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "vars.scss";
@import "mixins.scss";

.menu {
  background-color: $item_background_color;
  position: fixed;
  top: $header_height;
  margin: 10px 10px 10px 0px;
  left: 150px;
  bottom: 50px;
  width: $large_menu_width;
  border-left:solid $item_delimiter_color 2px;
  border-right:solid $item_delimiter_color 2px;
}

.menu-item {
  color: $main_text_color;
  min-height: 50px;
  font-size: $menu_font_size;
  text-align: center;
  background-color: $menu_item_background_color;
  @include border-radius-minimal(2px);
  border-top: solid $item_delimiter_color_light 2px;
  border-bottom: solid $item_delimiter_color_light 2px;
  margin: 10px;
}

.menu-item:hover {
  cursor: pointer;
  background-color: $menu_item_hover_background_color;
}

.selected {
  background-color: $menu_item_selected_background_color;
  color: $menu_item_selected_text_color;
  @include box-shadow(4px, 4px, 2px, -2px, #000);
}

.selected:hover {
  background-color: $menu_item_selected_background_color;
}

@media(max-width: $width_limit_wide_medium) {
  .menu {
    width: $small_menu_width;
  }

  .menu-item {
    min-height: 30px;
    font-size: $menu_small_font_size;
  }
}

@media(max-width: $width_limit_medium_small) {
  //afficher le menu en sous forme d'onglet
  .menu {
    display: none;
  }
}
