@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import 'vars.scss';

.menu {
  background-color: $item_background_color;
  position: fixed;
  top: $header_height;
  margin: 10px 10px 10px 0px;
  left: 150px;
  bottom: 50px;
  width:300px;
  border-left:solid $item_delimiter_color 2px;
  border-right:solid $item_delimiter_color 2px;
}

.menu-item {
  min-height: 50px;
  font-size: $menu_font_size;
  text-align: center;
  background-color: $menu_item_background_color;
  margin: 10px;
}

.menu-item:hover {
  cursor: pointer;
  background-color: $menu_item_hover_background_color;
}

.selected {
  background-color: $menu_item_selected_background_color;
  border: solid $item_delimiter_color 1px;
}

.selected:hover {
  background-color: $menu_item_selected_background_color;
}
