@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import 'vars.scss';

.menu {
  background-color: $menu_background_color;
  position: fixed;
  top: $header_height;
  left: 150px;
  bottom: 50px;
  width:300px;
}
