//size
$header_height: 75px;
$menu_font_size: 30px;

//colors
$item_background_color: #663300;
$item_delimiter_color: #ff8000;

$menu_item_background_color: #994d00;
$menu_item_hover_background_color: #b35900;
$menu_item_selected_background_color: #e67300;

$main_panel_background_color: #ffff00;

$main_text_color: #ffbf80;

$white: #fff;
