$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "vars.scss";
@import "mixins.scss";

.war-game-container {
  position: fixed;
  z-index: -1000;
  top: $header_height + $navigation_height;
  bottom: $footer_height;
  left: $large_border_margin;
  right: $large_border_margin;
  background-color: $item_background_color;
  margin: 10px 0px 5px 0px;
}

.modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color:#999 !important;
  filter: opacity(0.95);
  .modal-winner {
    font-size: 18px;
    @include border-radius-minimal(5px);
    @include box-shadow(4px, 4px, 2px, -2px, #000);
    height: 100px;
    width: 300px;
    text-align: center;
    background-color: $white;
    margin: 100px auto;
    z-index:1500;
  }
  .reset-button {
    margin-top:10px;
  }
}

.cmd-board {
  background-color: $item_background_color;
  position: fixed;
  top: $header_height + $navigation_height;
  bottom: $footer_height;
  left: $large_border_margin;
  width: 200px;
  border-left:solid $item_delimiter_color 2px;
  border-right:solid $item_delimiter_color 2px;
  margin: 10px 0px 5px 0px;
  overflow-y:auto;

  .button {
    text-align: center;
    line-height: 100%;
    min-height: 40px;
    font-size: 15px;
    color: $main_text_color;
    @include border-radius-minimal(2px);
    border-top: solid $item_delimiter_color_light 2px;
    border-bottom: solid $item_delimiter_color_light 2px;
    margin: 10px;
    padding-top: 8px;
  }
  .button:hover {
    cursor: pointer;
  }
  .btn-std {
    background-color: $menu_item_background_color;
  }
  .btn-std:hover {
    background-color: $menu_item_hover_background_color;
  }
  .btn-play {
    background-color: $dark_green;
  }
  .btn-play:hover {
    background-color: $green_able;
  }
  .btn-red {
    background-color: $dark_red;
  }
  .btn-red:hover {
    background-color: $red;
  }
}

.war-board-container {
  background-color: $item_background_color;
  position: fixed;
  top: $header_height + $navigation_height;
  bottom: $footer_height;
  right: $large_border_margin;
  left: $large_border_margin;
  border-left:solid $item_delimiter_color 2px;
  border-right:solid $item_delimiter_color 2px;
  margin: 10px 5px 5px 5px;
  overflow-y:auto;
  overflow-x:auto;
  .war-board-small {
    height: 465px;
    width: 600px;
    margin:auto;

    .cards-board {
      position: relative;
      margin-top: 15px;
      height:100%;
      width:100%;
      @include border-radius-minimal(50px);
      background-color: $cards-board-color;

      .player-label {
        position: absolute;
        left:25px;
        font-size: 20px;
        font-weight: bold;
        color: $main_text_color;
      }

      .player-deck {
        img {
          height: 110px;
        }
        height: 110px;
        width: 100px;
      }

      .player-deck:hover {
        cursor: pointer;
      }

      .board-label {
        position: absolute;
        left:25px;
        font-size: 20px;
        font-weight: bold;
        color: $main_text_color;
      }

      .back-img {
        width: 100%;
        height: 100%;
        background:url("../images/games_icons/war_icon.png") no-repeat center center;
        filter: opacity(0.5);
      }

      .player-board {
        margin: 10px auto 10px auto;
        height: 110px;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      .player-board.top {
        position: absolute;
        top: 10px;
      }

      .player-board.bottom {
        position: absolute;
        bottom: 10px;
      }

      .war-zone {
        position: absolute;
        top:130px;
        bottom:130px;
        margin: 10px auto 10px auto;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .played-card {
          height: 110px;
          width:83px;
          margin: auto 5px auto 5px;
          z-index: 5;
          img {
            height: 110px;
            display:block;
            margin:auto;
          }
        }

        .played-card.player-1 {
          margin-top: 5px !important;
        }

        .played-card.player-2 {
          margin-bottom: 5px !important;
        }
      }
    }
  }
  .war-board-medium {
    height: 585px;
    width: 750px;
    margin:auto;

    .cards-board {
      position: relative;
      margin-top: 15px;
      height:100%;
      width:100%;
      @include border-radius-minimal(50px);
      background-color: $cards-board-color;

      .player-label {
        position: absolute;
        left:25px;
        font-size: 20px;
        font-weight: bold;
        color: $main_text_color;
      }

      .player-deck {
        img {
          height: 130px;
        }
        height: 130px;
        width: 100px;
      }

      .player-deck:hover {
        cursor: pointer;
      }

      .board-label {
        position: absolute;
        left:25px;
        font-size: 20px;
        font-weight: bold;
        color: $main_text_color;
      }

      .back-img {
        width: 100%;
        height: 100%;
        background:url("../images/games_icons/war_icon.png") no-repeat center center;
        filter: opacity(0.5);
      }

      .player-board {
        margin: 10px auto 10px auto;
        height: 130px;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      .player-board.top {
        position: absolute;
        top: 10px;
      }

      .player-board.bottom {
        position: absolute;
        bottom: 10px;
      }

      .war-zone {
        position: absolute;
        top:150px;
        bottom:150px;
        margin: 10px auto 10px auto;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .played-card {
          height: 130px;
          margin: auto 5px auto 5px;
          z-index: 5;
          img {
            height: 130px;
            display:block;
            margin:auto;
          }
        }

        .played-card.player-1 {
          margin-top: 5px !important;
        }

        .played-card.player-2 {
          margin-bottom: 5px !important;
        }
      }
    }
  }
//large TODO
  .war-board-large {
    height: 700px;
    width: 900px;
    margin:auto;

    .cards-board {
      position: relative;
      margin-top: 15px;
      height:100%;
      width:100%;
      @include border-radius-minimal(50px);
      background-color: $cards-board-color;

      .player-label {
        position: absolute;
        left:25px;
        font-size: 25px;
        font-weight: bold;
        color: $main_text_color;
      }

      .player-deck {
        height: 150px;
        width: 100px;
      }

      .player-deck:hover {
        cursor: pointer;
      }

      .board-label {
        position: absolute;
        left:25px;
        font-size: 20px;
        font-weight: bold;
        color: $main_text_color;
      }

      .back-img {
        width: 100%;
        height: 100%;
        background:url("../images/games_icons/war_icon.png") no-repeat center center;
        filter: opacity(0.5);
      }

      .player-board {
        margin: 10px auto 10px auto;
        height: 140px;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      .player-board.top {
        position: absolute;
        top: 10px;
      }

      .player-board.bottom {
        position: absolute;
        bottom: 10px;
      }

      .war-zone {
        position: absolute;
        top:160px;
        bottom:160px;
        margin: 10px auto 10px auto;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .played-card {
          height: 114px;
          width:83px;
          margin: auto 5px auto 5px;
          z-index: 5;
          img {
            display:block;
            margin:auto;
          }
        }

        .played-card.player-1 {
          margin-top: 5px !important;
        }

        .played-card.player-2 {
          margin-bottom: 5px !important;
        }
      }
    }
  }
}

@media(max-width: $width_limit_medium_small) {
  .war-game-container {
    top: $small_header_height + $navigation_height;
    bottom: $small_border_margin;
    left: $small_border_margin;
    right: $small_border_margin;
  }

  .war-board-container {
    top: $small_header_height + $navigation_height;
    bottom: $small_border_margin;
    left: $small_border_margin;
    right: $small_border_margin;
  }
}
