$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "vars.scss";
@import "mixins.scss";

.war-game-container {
  position: fixed;
  z-index: -1000;
  top: $header_height + $navigation_height;
  bottom: $footer_height;
  left: $large_border_margin;
  right: $large_border_margin;
  background-color: $item_background_color;
  margin: 10px 0px 5px 0px;
}

.cmd-board {
  background-color: $item_background_color;
  position: fixed;
  top: $header_height + $navigation_height;
  bottom: $footer_height;
  left: $large_border_margin;
  width: 200px;
  border-left:solid $item_delimiter_color 2px;
  border-right:solid $item_delimiter_color 2px;
  margin: 10px 0px 5px 0px;
  overflow-y:auto;

  .button {
    text-align: center;
    line-height: 100%;
    min-height: 40px;
    font-size: 15px;
    color: $main_text_color;
    @include border-radius-minimal(2px);
    border-top: solid $item_delimiter_color_light 2px;
    border-bottom: solid $item_delimiter_color_light 2px;
    margin: 10px;
    padding-top: 8px;
  }
  .button:hover {
    cursor: pointer;
  }
  .btn-std {
    background-color: $menu_item_background_color;
  }
  .btn-std:hover {
    background-color: $menu_item_hover_background_color;
  }
  .btn-play {
    background-color: $dark_green;
  }
  .btn-play:hover {
    background-color: $green_able;
  }
  .btn-red {
    background-color: $dark_red;
  }
  .btn-red:hover {
    background-color: $red;
  }
}

.war-board {
  background-color: $item_background_color;
  position: fixed;
  min-width:900px;
  min-height: 700px;
  top: $header_height + $navigation_height;
  bottom: $footer_height;
  right: $large_border_margin;
  left: $large_border_margin + 200px;
  border-left:solid $item_delimiter_color 2px;
  border-right:solid $item_delimiter_color 2px;
  margin: 10px 5px 5px 5px;
  overflow-y:auto;
  overflow-x:auto;
  .cards-board {
    position: relative;
    margin: 15px;
    height:90%;
    width:90%;
    @include border-radius-minimal(50px);
    background-color: $cards-board-color;

    .player-label {
      position: absolute;
      left:25px;
      font-size: 25px;
      font-weight: bold;
      color: $main_text_color;
    }

    .player-deck {
      height: 150px;
      width: 100px;
    }

    .board-label {
      position: absolute;
      left:25px;
      font-size: 20px;
      font-weight: bold;
      color: $main_text_color;
    }

    .player-board {
      margin: 10px auto 10px auto;
      height: 140px;
      width: 100%;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .player-board.top {
      position: absolute;
      top: 10px;
    }

    .player-board.bottom {
      position: absolute;
      bottom: 10px;
    }

    .war-zone {
      position: absolute;
      top:160px;
      bottom:160px;
      margin: 10px auto 10px auto;
      width: 100%;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .played-card {
        height: 150px;
        width:100px;
        margin: auto 5px auto 5px;
      }

      .played-card.player-1 {
        margin-top: 0px !important;
      }

      .played-card.player-2 {
        margin-bottom: 0px !important;
      }
    }
  }
}

.war-board-small {
  display: none;
}

@media(max-width: $limit_width_war_game), (max-height: $limit_height_war_game) {
  .war-board {
    display:none;
  }
  .war-board-small {
    margin: 10px 5px 5px 5px;
    position: fixed;
    top: $header_height + $navigation_height;
    bottom: $footer_height;
    right: $large_border_margin;
    left: $large_border_margin + 200px;
    font-size: 15px;
    text-align: center;
    color: $main_text_color;
    display: block;
  }
}
