<div class="page">
  <div ng-include="'views/partials/header.html'"></div>
  <div ng-include="'views/partials/navigation.html'"></div>
  <div ng-show="errorLoading" class="game-container">
    Error while loading Game, please go back on home and retry
  </div>
  <div ng-show="!errorLoading" class="game-container">
    <div ng-show="rulePage" class="rule-container" ng-bind-html="game.rule"></div>
    <div ng-show="gamePage" class="game">
      <div ng-include="gameViewUrl"></div>
    </div>
  </div>
  <div ng-include="'views/partials/footer.html'"></div>
</div>
