<div class="settings" ng-show=!gameData.warInitialized>
  <div class="player-settings">
    <select ng-model="gameData.resolution.code">
      <option value="0" selected>--Select the resolution of the game--</option>
      <option value="1">Small (600px x 465px)</option>
      <option value="2">Medium (750px x 585px)</option>
      <option value="3">Large (900px x 700px)</option>
    </select><br>
    <select ng-model="gameData.nbPlayers">
      <option value=0 selected>--Select the number of players--</option>
      <option ng-repeat="nbPlayer in game.possibleNbNonAIPLayers" value="{{nbPlayer}}">{{nbPlayer}}</option>
    </select>
    <div class="action">
      <div class="btn btn-success" ng-click="initPlayers()">Set Parameters</div>
    </div>
  </div>

  <div class="player-settings" ng-show="players.length !== 0">
    <div class="row player-row">
      Set here the name of the players
    </div>
    <br>
    <div class="row player-row" ng-repeat="player in players">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        Player {{$index+1}}:
      </div>
      <div class="col-md-4 player-input">
        <input type="text" ng-model="player.name">
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row player-row">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        Max Score:
      </div>
      <div class="col-md-4 player-input">
        <input type="number" ng-model="gameData.targetedScore">
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="action">
      <div class="btn btn-success" ng-click="distribute()">Validate Settings and Distribute</div>
    </div>
  </div>
</div>
