<div ng-controller="WarCtrl">
  <div class="war-game-container">
    <div class="cmd-board">
      <div class="button btn-std" ng-click="initGame(0)">Randomize Distribution</div>
      <div class="button btn-std" ng-click="initGame(1)">Equal Distribution</div>
      <div class="button btn-play" ng-click="computeTurn()" ng-if="!gameEnd && warInitialized">Draw a card</div>
      <div class="button btn-red" ng-click="reset()" ng-if="gameEnd && warInitialized">Reset Game</div>
    </div>

    <div class="war-board" ng-if="warInitialized">
      <!-- <div class="winner-message" ng-if="gameEnd">Game End a Player win</div> -->
      <!-- 1 : <pre>{{player1Deck.length | json}}</pre> -->
      <!-- 2 : <pre>{{player2Deck.length | json}}</pre> -->
    </div>

    <div class="stats-board" ng-if="warInitialized">
      <div class="stat-title">
        <h1>Stats</h1>
      </div>

      <div class="stat-content">
        <div class=stat>
            Number Of Turn(s) :
            {{turnNumber}}
        </div>
        <div class="stat">
            Number Of War(s) :
            {{warNumber}}
        </div>
      </div>
    </div>
  </div>
</div>
