<div ng-controller="WarCtrl">
  <div class="war-game-container">
    <div class="cmd-board">
      <div class="button btn-std" ng-click="initGame(0)">Randomize Distribution</div>
      <div class="button btn-std" ng-click="initGame(1)">Equal Distribution</div>
      <div class="button btn-play" ng-click="computeTurn()" ng-if="!gameEnd && warInitialized">Draw a card</div>
    </div>

    <div class="settings" ng-show="!warInitialized">
      <div class="player-settings">
        <div class="row player-row">
          Set here the name of the players
        </div>
        <br>
        <div class="row player-row">
          <div class="col-md-3"></div>
          <div class="col-md-2">
            Player 1:
          </div>
          <div class="col-md-4 player-input">
            <input type="text" ng-model="player1Name">
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row player-row">
          <div class="col-md-3"></div>
          <div class="col-md-2">
            Player 2 (AI):
          </div>
          <div class="col-md-4 player-input">
            <input type="text" ng-model="player2Name">
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row player-row">
          <div class="col-md-3"></div>
          <div class="col-md-2">
            Max Score:
          </div>
          <div class="col-md-4 player-input">
            <input type="number" ng-model="targetedScore">
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>

    <div class="war-board" ng-if="warInitialized">
      <div class="cards-board">

        <!-- CUSTOM MODAL OF WINNER -->
        <div class="modal-content" ng-show="gameEnd">
          <div class="modal-winner">
            Congratulation <strong>{{winner}}</strong>,<br>
            You Win the round in <strong>{{turnNumber}} turns</strong> !
            <div class="reset-button">
              <div class="btn btn-danger" ng-click="reset()">New Game</div>
            </div>
          </div>
        </div>

        <div class="back-img"></div>

        <!-- Up Player board -->
        <div class="player-board top">
          <div class="player-label">{{player1Name}} ({{player1Score}} point(s))</div>
          <div class="player-deck">
            <img src="images/cards/card_back.jpg">
          </div>

        </div>

        <!-- Where the cards goes -->
        <div class="war-zone">
          <div class="board-label">Turn : {{turnNumber}}<br>War : {{warNumber}}</div>
          <div class="played-card player-1">
            <img ng-src="images/cards/{{player1CardImgName}}" ng-show="player1CardImgName">
          </div>
          <div class="played-card player-2">
            <img ng-src="images/cards/{{player2CardImgName}}" ng-show="player2CardImgName">
          </div>
        </div>

        <!-- Down player board -->
        <div class="player-board bottom">
          <div class="player-label">{{player2Name}} ({{player2Score}} point(s))</div>
          <div class="player-deck">
            <img src="images/cards/card_back.jpg">
          </div>
        </div>
      </div>
      <!-- <div class="winner-message" ng-if="gameEnd">Game End a Player win</div> -->
    </div>

    <div class="war-board-small">
      Your resolution does not match the minimum requirment to display this game <br>
      Minimum resolution required : 1330px x 830px <br>
    </div>
  </div>
</div>
