<div class="page">
  <div ng-include="'views/partials/header.html'"></div>
  <div ng-include="'views/partials/navigation.html'"></div>
  <div class="game-container">
    <div ng-show="errorLoading">
      Error while loading Game, please go back on home and retry
    </div>
    <div ng-show="!errorLoading">
      <div ng-show="rulePage">
        {{game.rule}}
      </div>
      <div ng-show="gamePage">
        <div ng-include="gameViewUrl"></div>
      </div>
    </div>
  </div>
  <div ng-include="'views/partials/footer.html'"></div>
</div>
