<div class="page">

  <div ng-include="'views/partials/header.html'"></div>

  <div ng-include="'views/partials/menu.html'"></div>

  <div class="main-container">
    <!-- <pre>{{games | json}}</pre> -->
    <div ng-repeat="game in displayGames" class="games-container">
      <div class="game-container">
        <div class="game-btn" ng-click="loadGame(game)">
            <div class="game-name">
              {{game.name}}
            </div>
            <div class"game-logo">
              <img ng-src="images/{{game.icon}}"/>
            </div>
        </div>
        <div class="info-btns">
          <!-- WORKING EXAMPLE OF FLIPPING CARD BEGIN (CF STYLE) -->
          <!-- <div card="card-container">
            <div class="card">
              <figure class="front">1</figure>
              <figure class="back">2</figure>
            </div>
          </div> -->
          <!-- WORKING EXAMPLE OF FLIPPING CARD END (CF STYLE) -->

          <div class="info-btn" ng-class="game.soloGame ? 'option-able' : 'option-disable'" popover-placement="right" popover-trigger="mouseenter" popover-html-unsafe="Coucou hiboux">
            <i class="fa fa-user"></i>
          </div>

          <div class="info-btn" ng-class="game.localMultiplayer ? 'option-able' : 'option-disable'">
            <i class="fa fa-users"></i>
          </div>

          <div class="info-btn" ng-class="game.iaAvailable ? 'option-able' : 'option-disable'">
            <i class="fa fa-desktop"></i>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div ng-include="'views/partials/footer.html'"></div>
</div>
