<div>

  <div ng-include="'views/partials/header.html'"></div>

  <div ng-include="'views/partials/menu.html'"></div>

  <div class="main-container">
    <!-- <pre>{{games | json}}</pre> -->
    <div ng-repeat="game in games" class="games-container">
      <div class="game-container">
        <div class="game-btn" ng-click="loadGame(game)">
            <div class="game-name">
              {{game.name}}
            </div>
            <div>
              <img class"game-logo" ng-src="images/{{game.icon}}"/>
            </div>
        </div>
        <div class="info-btns">
          <div class="info-btn" ng-class="game.soloGame ? 'option-able' : 'option-disable'">
            <i class="fa fa-user fa-2x"></i>
          </div>

          <div class="info-btn" ng-class="game.localMultiplayer ? 'option-able' : 'option-disable'">
            <i class="fa fa-users fa-2x"></i>
          </div>

          <div class="info-btn" ng-class="game.iaAvailable ? 'option-able' : 'option-disable'">
            <i class="fa fa-desktop fa-2x"></i>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div ng-include="'views/partials/footer.html'"></div>
</div>
